#experience{
    margin-top: 20rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

#experience-title{
    color: aliceblue;
    font-size: 3.5rem;
    margin-bottom: 5.5rem;
    text-align: left;
}