.about-project-container{
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 5vh;
}

.about-project-title{
    /* top: 80vh; */
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.1rem;
    text-align: center;
}

.projects-inner-container{
    margin-top: 5vh;
}

.p-btn{
    margin-right: 2rem;
}


.card{
    margin: 2vw;
}
.card:hover{
    cursor: pointer;
    
}

@media only screen and (max-width: 600px)  {
    .about-project-container{
        margin-left: auto;
        margin-right: auto;
    }
}