.box{
    margin: 3vh 0;
    overflow: hidden;
    height: 12vh;
    font-size: 1.5rem;
    width: 80vw;
    margin-left: auto !important;
    margin-right: auto !important;
    vertical-align: middle;
}

.skill-content{
    padding-top: 1vh !important;
    display: inline;
    font-family: 'Raleway', sans-serif;
}

.skill-icon{
    margin-right: 1rem;
    font-size: 4rem;
}


